@import url('https://fonts.googleapis.com/css2?family=Cutive+Mono&family=Gemunu+Libre:wght@200;400&family=Overpass:ital,wght@0,400;1,200;1,600&family=Ubuntu:wght@300;500&display=swap')
// Variables
$HeaderFont: 'Ubuntu', serif
$subFont: 'Cutive Mono', monospace
$clockFont: 'Gemunu Libre', sans-serif
$subHeaderFont: 'Overpass', sans-serif

$mainColor: #FF5733
$subColor: #000
$shadow-color: rgba(5, 5, 5)
$gradientColor: rgba(255, 87, 51, 0.16) 0%


$item-count: 8
$item: 1 / $item-count
$scrollColor: rgba(255, 255, 255, 0)

@mixin media($width)
  @media (max-width: $width)
    @content

// Animations
@keyframes fadeOut
  from
    opacity: 1
  to
    opacity: 0

@keyframes scrollUp
  from
    transform: translateY(0)
  to
    transform: translateY((-100% / $item-count) * ($item-count - 0.85))

@keyframes tracking-in-expand
  0%
    letter-spacing: -0.5em
    opacity: 0

  40%
    opacity: 0.6

  100%
    opacity: 1

// Basic Settings
body
  p, h1, h2, h3, h4, h5, h6, ul, li
    margin: 0
    padding: 0


// HEADER
.box
  max-height: 2.5rem
  margin-top: 2rem !important
  overflow: hidden
  position: relative

  &::before
    top: 0
    left: 0
    z-index: -1
    content: ''
    background: $scrollColor

  &::after
    @extend ::before
    top: auto
    bottom: 0

.subHeader
  padding-left: 0 !important
  margin-bottom: 0 !important
  animation: tracking-in-expand 0.7s cubic-bezier(0.215, 0.610, 0.355, 1.000) both


  li
    color: $subColor
    font-family: $subFont
    font-size: 3rem
    font-style: normal
    font-weight: 100
    line-height: normal
    text-transform: uppercase

    @include media(992px)
      font-size: 2.5rem

.logo
  color: $mainColor
  font-family: $HeaderFont
  font-size: 4rem
  font-style: normal
  font-weight: 500
  line-height: 0.7
  text-transform: uppercase
  animation: tracking-in-expand 0.7s cubic-bezier(0.215, 0.610, 0.355, 1.000) both

  @include media(992px)
    font-size: 3.5rem


.header_text
  color: $subColor
  leading-trim: both
  text-align: right
  font-weight: 200
  font-family: $subHeaderFont
  font-size: 1.4rem
  font-style: italic
  line-height: normal

  @include media(1200px)
    font-size: 1.2rem

  @include media(992px)
    font-size: 1rem

  span
    font-weight: 600

// FORM
.settings_menu
  margin-top: 1.5rem !important
  padding-top: 0.4rem
  padding-bottom: 0.4rem
  border-radius: 0.4375rem
  border: 1px solid $subColor
  background: #FFF


.menu_text
  color: $subColor
  font-family: $subHeaderFont
  font-size: 1.125rem
  font-style: normal
  font-weight: 400
  line-height: normal
  text-transform: capitalize
  align-self: end

  @include media(1200px)
    font-size: 0.95rem


.time
  color: $subColor
  text-align: end
  font-family: $clockFont
  font-size: 1.25rem
  font-style: normal
  font-weight: 200
  line-height: normal
  text-transform: uppercase


  @include media(992px)
    font-size: 1rem


.date
  @extend .time
  font-size: 2.5rem
  font-weight: 400

  @include media(992px)
    font-size: 1.5rem

  @include media(1200px)
    font-size: 1.6rem

.form-block
  margin-top: 2rem

  @include media(992px)
    margin-top: 1rem
  @include media(1200px)
    margin-top: 1.5rem


  input
    width: 9rem
    height: 1.375rem
    flex-shrink: 0
    border-radius: 0.25rem
    border: 1px solid $subColor
    margin-bottom: 0.8rem

    @include media(1200px)
      width: 6.4rem
      margin-bottom: 0.3rem


.start-button
  padding-top: 1rem
  @include media(992px)
    padding-top: 0.5rem

  input
    border-radius: 0.25rem
    background: $subColor
    height: 1.4rem
    color: white
    width: 100%
    font-family: $clockFont
    font-size: 1rem
    font-style: normal
    font-weight: 400
    line-height: normal

.files-content
  color: $subColor
  font-family: $HeaderFont
  font-size: 0.75rem
  font-style: normal
  font-weight: 300
  line-height: normal

  a
    padding-left: 0.25rem
    color: $subColor
    text-decoration: none

    &:hover
      text-decoration: underline

  button
    color: $mainColor
    font-size: 0.75rem
    border: none
    background-color: transparent

    &:hover
      text-decoration: underline

// FOOTER
.footer
  padding: 0.75rem 0 0.75rem 0
  background-color: $mainColor
  color: #fff
  font-family: $subHeaderFont
  font-size: 0.95rem
  font-style: normal
  font-weight: 400
  line-height: normal
  height: 100%

  a
    color: white
    text-decoration: none

    &:hover
      text-decoration: underline

