<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Attitude Visualiser</title>
    <!-- CSS -->
    <link rel="stylesheet" type="text/css" href="/static/style.css">
    <!-- BOOTSTRAP -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">

<body data-oc="#ff5733,#ff5733">
<div class="container main-content">
    <div class="row">
        <div class="box">
            <ul class="subHeader">
                <li class="item-1">EMOJI</li>
                <li class="item-2">😂</li>
                <li class="item-3">🤬</li>
                <li class="item-4">👍</li>
                <li class="item-5">❤️</li>
                <li class="item-6">🥲</li>
                <li class="item-7">😭</li>
                <li class="item-8">Attitude</li>
            </ul>
        </div>
    </div>
    <div class="row">
        <h1 class="col-5 logo">
            Visualizer
        </h1>
        <p class="col-7 header_text">
            The <span>X</span> coordinate shows the attitude of people to the post.<br>
            The <span>Y</span> coordinate shows the popularity of each post - number of reactions.
        </p>
    </div>
    <div class="row chart">
        <div class="col-3 settings_menu">
            <div class="row">
                <div class="col time">
                    <span id="jsonTime">12:54</span>
                </div>
            </div>
            <div class="row">
                <div class="col menu_text d-flex">
                    <p class="flex-grow-1 align-self-end">Last update:</p>
                    <p id="jsonDate" class="date">10.10.2023</p>
                </div>
            </div>
            <form action="/take_reactions/" method="post" class="menu_text form-block">
                <div class="row ">
                    <div class="col d-flex">
                        <p class="flex-grow-1">Telegram ID:</p>
                        <input type="password" name="telegram_id" value="{{config.telegram_id}}">
                    </div>
                </div>
                <div class="row">
                    <div class="col d-flex">
                        <p class="flex-grow-1">Telegram Hash:</p>
                        <input type="password" name="telegram_hash" value="{{config.telegram_hash}}">
                    </div>
                </div>
                <div class="row">
                    <div class="col d-flex">
                        <p class="flex-grow-1">Post Limit:</p>
                        <input type="number" name="post_limit" value="{{config.post_limit}}">
                    </div>
                </div>
                <div class="row">
                    <div class="col d-flex">
                        <p class="flex-grow-1">Post Offset:</p>
                        <input type="number" name="post_offset" value="{{config.post_offset}}">
                    </div>
                </div>
                <div class="row">
                    <div class="col d-flex">
                        <p class="flex-grow-1">Channel Link:</p>
                        <input type="text" name="channel_link" value="{{config.channel_link}}">
                    </div>
                </div>
                <div class="row start-button">
                    <div class="col text-center">
                        <input type="submit" value="start"></input>
                    </div>
                </div>
            </form>
            <div class="row mt-xl-2 mb-1">
                <div class="col">
                    <p>Your JSON Files:</p>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <ul class="files-content">
                        {% for file in files %}
                        <li class="d-flex">
                            <a href="/download/{{ file }}" class="flex-grow-1">{{ file }}</a>
                            <button onclick="deleteFile('{{ file }}')" class="">Delete</button>
                        </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-9">
            <canvas id="myChart"></canvas>
        </div>
    </div>
</div>

<div class="container-fluid">
    <div class="row footer">
        <div class="col-1"><span>2023</span></div>
        <div class="col-10 text-center">
            <p>Attitude Visualisier by <a href="https://github.com/vvvlladimir/Reactions-Visualizer" target="_blank"
                                          rel="noopener noreferrer">@vvvlladimir</a>
            </p>
        </div>
    </div>
</div>


<!-- CHARTJS -->
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

<!-- BOOTSTRAP -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
        crossorigin="anonymous"></script>

<!-- JS -->
<script src="/static/app.js"></script>

<!-- CHART JS -->
<script src="/static/chartJS.js"></script>

<!-- OVERFLOW -->
<script src="/node_modules/overflow-color/dist/overflow-color.umd.min.js" async></script>

</body>
</html>
